
@font-face {
	font-family: Ops;
	src: url("../../src/utils/OperatorSSm-Medium-Pro.otf");
  }
  @font-face {
	font-family: Air;
	src: url("../../src/utils/AirbnbCereal-Bold.ttf");
  }

  html,body,div,h1,h2,h3,p{
	  font-family: Air;
	  margin:0;
	  padding:0;
  }